body{
    background-color: black;
    color:whitesmoke;
font-family:"Playfar Display" 
margin: 0px;
.roboto-<uniquifier> {
  padding: 20px;
  font-sizee: 32px
  color: rgb(255,255,255)
  font-family: "Roboto", sans-serif;
  font-optical-sizing: 40px;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="style
border-bottom:slid 2px rgb (255, 255, 255);
}
